<div  *ngFor="let company of companies,let i =index" >
    <h1>{{company.id}}</h1>
    <h1>{{company.name}}</h1>
</div>
<div class="card">
    <div class="card-header">
      <h2 class="name">Название</h2>
      <p class="direction">Направление</p>
    </div>
    <div class="card-body">
      <p class="description">Описание</p>
    </div>
  </div>
  <div class="card-grid">
    <div class="card">
      <div class="card-header">
        <h2 class="name">Название</h2>
        <p class="direction">Направление</p>
      </div>
      <div class="card-body">
        <p class="description">Описание</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h2 class="name">Название</h2>
        <p class="direction">Направление</p>
      </div>
      <div class="card-body">
        <p class="description">Описание</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h2 class="name">Название</h2>
        <p class="direction">Направление</p>
      </div>
      <div class="card-body">
        <p class="description">Описание</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h2 class="name">Название</h2>
        <p class="direction">Направление</p>
      </div>
      <div class="card-body">
        <p class="description">Описание</p>
      </div>
    </div>
  </div>